/* .dark_mode {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
} */
/* 
.dark_mode_input {
  display: none;
}

.dark_mode_label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
} */

/* .sun-icon,
.moon-icon {
  width: 24px;
  height: 24px;
}
.dark_mode_label {
  background-color: #e5e7eb; 
  transition: background-color 0.3s;
} */

/* input[type="checkbox"]:checked + .dark_mode_label {
  background-color: #4b5563; 
} */
/* Optional: Hide scrollbars on overflow-x components if needed */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

